@{
    ViewBag.Title = "Major or Minor Triad";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        Determine if chord is a major or minor triad.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <input type="button" value="Get a New Chord" onclick="setAudResolutionSrc()" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio id="audResolution" controls preload='none'>
                <source src='@Url.Action("GetChordEx", "MajorOrMinorTriad", new { doNoteName = ViewBag.Pitch.PitchName })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p>Hover over the below to reveal the chord</p>
        <div class="spoiler" id="chord"></div>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudResolutionSrc();
        });

        function setAudResolutionSrc() {
            var baseSrc = '@Url.Action("GetChordEx", "MajorOrMinorTriad", new { doNoteName = ViewBag.Pitch.PitchName })';
            var randomInt = getRandomInt(0, 1);
            var src = baseSrc + '&type=' + randomInt;
            $('#audResolution').attr('src', src);

            var msg = 'Your chord is @ViewBag.Chord ';
            switch (randomInt) {
                case 0:
                    msg = msg + 'Major';
                    break;
                case 1:
                    msg = msg + 'Minor';
                    break;
            }

            $('#chord').text(msg);
    }

    </script>
}
