<mat-card class="example-card">
  <mat-card-header class="margin-left-neg-35">
    <span>
      <mat-card-title>Press the Play Button to Hear the DO</mat-card-title>
    </span>
  </mat-card-header>
  <mat-card-content>
    <audio id="doPlayer" class="doAccepter" controls preload='none'>
      <source src='{{doUrl}}' type='audio/mpeg'>
    </audio>
  </mat-card-content>
</mat-card>

<div fxLayout="row" fkex>
  <div fxFlex="25" flex>
    <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                      muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" (trackEnded)="onEnded($event)"
                      [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
                      [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
                      [displayDuration]="msaapDisplayDuration" [expanded]="true"></ngx-audio-player>
  </div>
</div>

<div fxLayout="row" flex>
  <div fxFlex="auto" flex>
    <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                      muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" (trackEnded)="onEnded($event)"
                      [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
                      [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
                      [displayDuration]="msaapDisplayDuration" [expanded]="true"></ngx-audio-player>
  </div>
  <div fxFlex="auto" flex>
  </div>
  <div fxFlex="auto" flex>
    <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                      muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" (trackEnded)="onEnded($event)"
                      [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
                      [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
                      [displayDuration]="msaapDisplayDuration" [expanded]="true"></ngx-audio-player>
  </div>
</div>

<div class="grid-container">
  <h1 class="mat-h1">DO</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="cols" [rowspan]="rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            This is the DO
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="cols" [rowspan]="rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            This is the DO
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

