@{
    /**/

    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site was created to provide additional eartraining drills for my own personal use after I began to study <a href="https://www.harrisonmusic.com" target="_blank"> Mark Harrison</a>'s <a href="https://www.harrisonmusic.com/store/c7/Ear_Training_Books_Audio.html" target="_blank">Contemporary Eartraining</a> series (Published by Hal Leonard).</p>

<p>I thought it would be useful, and a fun programming exercise, to create additional drills that are random and available in any key.</p>
<p> - Mike Hildner (mike dot hildner at gmail dot com)</p>
<p> Many thanks to @ViewBag.StageName</p>

<hr />

<h3>About the Piano Samples</h3>
<p>The original piano samples were downloaded from a University of Iowa <a href="http://theremin.music.uiowa.edu/mispiano.html" target="_blank">site</a>. Many thanks to those who made the samples freely available.</p>

<hr />

<h3>How the Audio is Generated</h3>
<p>Using the samples described above, <a href="https://github.com/naudio/NAudio" target="_blank">NAudio</a> is used to read the samples, combine / mix if necessary (e.g. for melodies / chords), then save to .mp3 files. The resulting .mp3 files are what gets played.</p>

<hr />

<h3>About the Source Code</h3>
<p>The code for this web site is written using the free <a href="https://visualstudio.microsoft.com/vs/community/" target="_blank">Visual Studio Community Edition</a>, and is open source. Feel free to check out the <a href="https://github.com/MikeHildner/EarTraining" target="_blank">source code</a> to take a look, or better yet, contribute!</p>
<p><a href="https://github.com/MikeHildner/EarTraining/issues" target="_blank">Report an Issue</a></p>

