@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site was created to provide additional eartraining drills for my own personal use after I began to study <a href="https://www.harrisonmusic.com"> Mark Harrison</a>'s <a href="https://www.harrisonmusic.com/store/c7/Ear_Training_Books_Audio.html">Contemporary Eartraining series</a> (Published by Hal Leonard).</p>

<p>I thought it would be useful, and a fun programming exercise, to create additional drills that are random and available in any key.</p>
<p> - Mike Hildner (mike dot hildner at gmail dot com)</p>
