@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site was created to provide additional eartraining drills for my own personal use after I began to study <a href="https://www.harrisonmusic.com"> Mark Harrison</a>'s <a href="https://www.harrisonmusic.com/store/c7/Ear_Training_Books_Audio.html">Contemporary Eartraining series</a> (Published by Hal Leonard).</p>

<p>I thought it would be useful, and a fun programming exercise, to create additional drills that are random and available in any key.</p>
<p> - Mike Hildner (mike dot hildner at gmail dot com)</p>

<hr />
<h3>About the Piano Samples</h3>
<p>The original piano samples were downloaded from a University of Iowa <a href="http://theremin.music.uiowa.edu/mispiano.html">site</a>. Many thanks to those who made the samples freely available. On this site, those samples are found <a href="@Url.Content("~/UIOWA_AIFFs")">here</a>.</p>
<p>Since those samples have a short duration before the note is struck, they were modified, with the results <a href="@Url.Content("~/Samples")">here</a>. It's these latter samples that are used to generate the audio on this site.</p>

<hr />
<h3>How the Audio is Generated</h3>
<p>Using the samples described above, <a href="https://github.com/naudio/NAudio">NAudio</a> is used to read the samples, mix if necessary (e.g. for chords), then save to .mp3 files. The resulting .mp3 files are what gets played.</p>
