@{
    /**/

    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site was created to provide additional eartraining drills after I began to study <a href="https://www.harrisonmusic.com" target="_blank"> Mark Harrison</a>'s <a href="https://www.harrisonmusic.com/store/c7/Ear_Training_Books_Audio.html" target="_blank">Contemporary Eartraining</a> series (Published by Hal Leonard).</p>

<p>I thought it would be useful, and a fun programming exercise, to create additional drills that are random and available in any key.</p>
<p> - Mike Hildner (mike dot hildner at gmail dot com)</p>
<hr />

<h3>Thank Yous</h3>
<ul>
    <li>
        Kind thank yous to <a href="https://www.harrisonmusic.com" target="_blank"> Mark Harrison</a> who has provided guidance, review and bug reports during the continuous development of this site.
    </li>
    <li>Many thanks to those that take their hard work and open-source it. This site uses the following open-source software (brief descriptions further down the page).
        <ul>
            <li>
                <a href="https://github.com/naudio/NAudio" target="_blank">NAudio</a>
            </li>
            <li>
                <a href="https://www.vexflow.com/" target="_blank">VexFlow</a>
            </li>
        </ul>
    </li>
    <li>
        As always, thanks @ViewBag.StageName for your inspiration.
    </li>
</ul>

<hr />

<h3>A Note About Middle C / C4</h3>
<p>This site uses the definition of C4 Middle C (261.63 Hz).</p>
<hr />

<h3>About the Piano Samples</h3>
<p>The piano samples were created individually using the free and open source <a href="https://musescore.org/" target="_blank">MuseScore</a> application, and are located <a href="~/Samples/Piano/">here.</a> There's also a .zip file that contains all 88 piano samples.</p>
<p>To create each of the 88 samples, two tied whole notes were used. Given the time signature and tempo, the duration of each sample is 10 seconds.</p>
<img src="~/Content/Images/MuseScoreSampleExplanation.png" />
<hr />

<h3>How the Audio is Generated</h3>
<p>Using the samples described above, the free and open source <a href="https://github.com/naudio/NAudio" target="_blank">NAudio</a> audio and MIDI library is used to read the samples, combine / mix if necessary (e.g. for melodies / chords), then save to .mp3 files. The resulting .mp3 files are what gets played.</p>
<hr />

<h3>How the Transciptions are Generated</h3>
<p>Transcriptions are rendered using <a href="https://www.vexflow.com/" target="_blank">VexFlow</a>, an open-source online music notation rendering API.</p>
<hr />

<h3>About the Source Code</h3>
<p>The code for this web site is written using the free <a href="https://visualstudio.microsoft.com/vs/community/" target="_blank">Visual Studio Community Edition</a>, and is open source. Feel free to check out the <a href="https://github.com/MikeHildner/EarTraining" target="_blank">source code</a> on GitHub to take a look, or better yet, contribute!</p>
<p><a href="https://github.com/MikeHildner/EarTraining/issues" target="_blank">Report an Issue</a></p>

