@{
    ViewBag.Title = "Ear Training Home";
}

<h2>@ViewBag.Title</h2>
<p>Please use the menu to explore the pages of this site, or see the @Html.ActionLink("about page", "About", "Home") for information.</p>
<p>Not sure where to start? Try @Html.ActionLink("Find the DO", "Index", "DO", null, new { })</p>