@{
    ViewBag.Title = "Ear Training Home";
}

<div class="jumbotron">
    <h1>Ear Training</h1>
    <p class="lead">Ear Training is a free resource to assist in developing music ear skills</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find the DO</h2>
        <p>
            Listen to a (tonic) note, and find the DO. As in solfeg syllables DO, RE, etc.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "DO")">Find the DO &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>