@{
    ViewBag.Title = "5.1 - Melodic 4th/5th Interval Identification";
}
<h2>Level 1 Chapter 5</h2>

<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the melodic interval identification questions on pages 94-95.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="4ths" name="intervaltype" type="radio" checked>
            <label for="4ths" onclick="">4ths</label>

            <input id="5ths" name="intervaltype" type="radio">
            <label for="5ths" onclick="">5ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<h4>Drill</h4>
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>Press the play button to hear the interval</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the interval</p>
        <div class="spoiler" id="drill1"></div>
        <div class="pad-top-10">
            <input type="button" class="btn btn-primary" value="Get a New Drill" onclick="setAudDrill1Src()" />
        </div>
    </div>
</div>

<!-- Note that even though this is chapter 3, we're calling methods in chapter 2's controller because the code was already set up there. -->

<div id="4th-prompts">
    <h4>4th Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO FA</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-14" checked />
                        <label class="custom-control-label small" for="cb-include-14">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 14 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="5th-prompts">
    <h4>5th Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-28" checked />
                        <label class="custom-control-label small" for="cb-include-28">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 28 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });

            $('.cb-include').change(function () {
                setAudDrill1Src();
            });

        });

        function setAudDrill1Src() {
            var baseSrc = '@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], 0);

            switch (intervalType) {
                case '4ths':
                    minDrill = 14;
                    maxDrill = 27;
                    $('#4th-prompts').fadeIn();
                    $('#5th-prompts').fadeOut();
                    break;

                case '5ths':
                    minDrill = 28;
                    maxDrill = 41;
                    $('#4th-prompts').fadeOut();
                    $('#5th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 14;
                    maxDrill = 41;
                    $('#4th-prompts').fadeIn();
                    $('#5th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndAlert(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 14:
                    msg = msg + 'DO FA (Per 4th Asc)';
                    break;
                case 15:
                    msg = msg + '';
                    break;
                case 16:
                    msg = msg + '';
                    break;
                case 17:
                    msg = msg + '';
                    break;
                case 18:
                    msg = msg + '';
                    break;
                case 19:
                    msg = msg + '';
                    break;
                case 20:
                    msg = msg + '';
                    break;
                case 21:
                    msg = msg + '';
                    break;
                case 22:
                    msg = msg + '';
                    break;
                case 23:
                    msg = msg + '';
                    break;
                case 24:
                    msg = msg + '';
                    break;
                case 25:
                    msg = msg + '';
                    break;
                case 26:
                    msg = msg + '';
                    break;
                case 27:
                    msg = msg + '';
                    break;
                case 28:
                    msg = msg + 'DO SO (Per 5th Asc)';
                    break;
                case 29:
                    msg = msg + '';
                    break;
                case 30:
                    msg = msg + '';
                    break;
                case 31:
                    msg = msg + '';
                    break;
                case 32:
                    msg = msg + '';
                    break;
                case 33:
                    msg = msg + '';
                    break;
                case 34:
                    msg = msg + '';
                    break;
                case 35:
                    msg = msg + '';
                    break;
                case 36:
                    msg = msg + '';
                    break;
                case 37:
                    msg = msg + '';
                    break;
                case 38:
                    msg = msg + '';
                    break;
                case 39:
                    msg = msg + '';
                    break;
                case 40:
                    msg = msg + '';
                    break;
                case 41:
                    msg = msg + '';
                    break;

                default:
                    var msg2 = 'drillType ' + randomInt + ' is not supported';
                    consoleAndAlert(msg2);
            }

            $('#drill1').text(msg);
        }

    </script>
}
