<figure>
    <figcaption><img class="piano" />Press the play button to hear the DO</figcaption>
    <audio controls preload='none'>
        <source src='@Url.Action("GetDOEx", "DO", new { doNoteName = ViewBag.Pitch.PitchName })' type='audio/mpeg'>
    </audio>
</figure>
<p>Hover over the below to reveal the DO</p>
<div class="spoiler">@ViewBag.Pitch.PitchName - @ViewBag.Pitch.Hertz Hz</div>
<div class="pad-top-10">
    <input type="button" class="btn btn-primary" value="Get a New DO" onclick="location.href='@Request.Url.AbsoluteUri'" />
</div>