<p>Each time this page is refreshed, a new DO is assigned.</p>
<input type="button" value="Get a New DO" onclick="location.href='@Request.Url.AbsoluteUri'" />
<figure>
    <figcaption><img class="piano play-do" /></figcaption>
    <audio controls preload='none'>
        <source src='@Url.Action("GetDOEx", "DO", new { doNoteName = ViewBag.Pitch.PitchName })' type='audio/mpeg'>
    </audio>
</figure>
<p>Hover over the below to reveal the DO</p>
<p class="spoiler">Your DO is @ViewBag.Pitch.PitchName - @ViewBag.Pitch.Hertz Hz</p>