
@{
    ViewBag.Title = "NotFound";
}

<h2 class="text-warning">Not Found</h2>
<p>The resource you were looking for (@ViewBag.AspxErrorPath) was not found.</p>
<p>Please check the spelling or use the menu to navigate.</p>

