body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.spoiler {
    margin-bottom: 5px;
}

/*
.spoiler:hover {
    color: #428BCA;
    background-color: #D9EDF7;
}*/

/*.spoiler > div {
    opacity: 0;
    transition: opacity 0.5s
}

.spoiler:hover > div {
    opacity: 1
}*/

.spoiler, .spoiler > * {
    transition: color 0.5s, opacity 0.5s;
}

    .spoiler:not(:hover) {
        /*color: transparent;*/
        color: #4b0085;
        background-color: #4b0085;
    }

.spoiler:not(:hover) > * {
    opacity: 0;
 }

.underline {
    text-decoration: underline;
}

.piano {
    /*
    content: url(Images/Piano.svg);
    width: 16px;
    height: 16px;
    */
}

.image-ear {
    /*content: url(Images/ear32.png);*/
}

.text-align-right {
    text-align: right;
}

.float-button-1 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    /*right: 40px;*/
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.float-button-2 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 120px;
    /*right: 40px;*/
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.my-float-1 {
    margin-top: 7px;
}

.my-float-2 {
    margin-top: -5px;
    margin-left: -5px;
}

audio {
    /*filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);*/
    /*width: 200px;
    height: 25px;*/
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-bottom-3 {
    padding-bottom: 3px;
}

.dropdown-header {
    font-weight: bold;
}

.pad-left-20 {
    padding-left: 20px;
}

.pad-left-10 {
    padding-left: 10px;
}

.tdcenter {
    width: 100%;
    table-layout: fixed;
}

    .tdcenter td {
        text-align: center;
    }

.bottom-border {
    border-bottom: 1pt solid;
}

.card {
    margin-bottom: 5px;
}

.z-index-back {
    z-index: -1;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-left-default {
    margin-left: 5px;
}

.one-staff-system-margin{
    margin-top: -100px;
}

.container{
    max-width: 1600px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.ratio-margin{
    margin-top: -8px;
    margin-bottom: 10px;
}