@{
    ViewBag.Title = "5.1 - Melodic Maj 2nd/Min 7th Interval Identification";
}
<h2>Level 1 Chapter 6</h2>

<h5>@ViewBag.Title</h5>
<h5 class="alert-warning">Not Yet Fully Implemented</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the melodic interval identification questions on page 127.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="maj2nds" name="intervaltype" type="radio" checked>
            <label for="maj2nds" onclick="">Maj 2nds</label>

            <input id="min7ths" name="intervaltype" type="radio">
            <label for="min7ths" onclick="">Min 7ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<h4>Drill</h4>
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>Press the play button to hear the interval</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the interval</p>
        <div class="spoiler" id="drill1"></div>
        <div class="pad-top-10">
            <input type="button" class="btn btn-primary" value="Get a New Drill" onclick="setAudDrill1Src()" />
        </div>
    </div>
</div>

<div id="maj2nd-prompts">
    <h4>Maj 2nd Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO RE</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-20" checked />
                        <label class="custom-control-label small" for="cb-include-20">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 20 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="min7th-prompts">
    <h4>Min 7th Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-30" checked />
                        <label class="custom-control-label small" for="cb-include-30">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 30 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });

            $('.cb-include').change(function () {
                setAudDrill1Src();
            });

        });

        function setAudDrill1Src() {
            var baseSrc = '@Url.Action("GetMelodicInterval", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], 0);

            switch (intervalType) {
                case 'maj2nds':
                    minDrill = 20;
                    maxDrill = 29;
                    $('#maj2nd-prompts').fadeIn();
                    $('#min7th-prompts').fadeOut();
                    break;

                case 'min7ths':
                    minDrill = 30;
                    maxDrill = 39;
                    $('#maj2nd-prompts').fadeOut();
                    $('#min7th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 20;
                    maxDrill = 39;
                    $('#maj2nd-prompts').fadeIn();
                    $('#min7th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndAlert(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 20:
                    msg = msg + 'DO RE (Maj 2nd Asc)';
                    break;
                case 21:
                    msg = msg + '';
                    break;
                case 22:
                    msg = msg + '';
                    break;
                case 23:
                    msg = msg + '';
                    break;
                case 24:
                    msg = msg + '';
                    break;
                case 25:
                    msg = msg + '';
                    break;
                case 26:
                    msg = msg + '';
                    break;
                case 27:
                    msg = msg + '';
                    break;
                case 28:
                    msg = msg + '';
                    break;
                case 29:
                    msg = msg + '';
                    break;
                case 30:
                    msg = msg + 'RE DO (Min 7th Asc)';
                    break;
                case 31:
                    msg = msg + '';
                    break;
                case 32:
                    msg = msg + '';
                    break;
                case 33:
                    msg = msg + '';
                    break;
                case 34:
                    msg = msg + '';
                    break;
                case 35:
                    msg = msg + '';
                    break;
                case 36:
                    msg = msg + '';
                    break;
                case 37:
                    msg = msg + '';
                    break;
                case 38:
                    msg = msg + '';
                    break;
                case 39:
                    msg = msg + '';
                    break;

                default:
                    var msg2 = 'drillType ' + randomInt + ' is not supported';
                    consoleAndAlert(msg2);
            }

            $('#drill1').text(msg);
        }

    </script>
}
