@{
    ViewBag.Title = "Find the DO";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    Find the DO.
</div>
<audio controls preload='none'>
    @*<source src='/Components/PlayFile?FilePath=[filename.wav]' type='audio/wav'>*@
    <source src='@Url.Action("GetFileStreamResult", "DO")' type='audio/wav'>
</audio>