@{
    ViewBag.Title = "Find the DO";
}

<h2>@ViewBag.Title</h2>

<h5>Task: Listen to the DO below, sing it, then find it on your instrument</h5>
<hr />

<div class="row">
    <div class="col-md-4 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>