
@{
    ViewBag.Title = "Transcription / Dictation";
}
<h4 class="text-warning">Not yet fully implemented</h4>
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <span id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Dictation" onclick="newDictation();" />
            </div>
        </div>
        <figure>
            <figcaption>Press the play button to hear the dictation</figcaption>
            <audio id="audMelody" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the transcription</p>
        <div class="spoiler">
            <div id="transcription1"></div>
            <div id="transcription2"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/vexflow-min.js"></script>

    <script>
        $(document).ready(function () {
            newDictation();
        });

        function newDictation() {
            $('#spinner').show();
            var request = $.ajax({
                url: rootPath + "Transcription/AudioAndDictation4",
                method: "GET"
            });

            request.done(function (data) {
                $('#audMelody').attr('src', rootPath + 'Temp/' + data.src);
                $("#transcription1").html("");
                $("#transcription2").html("");
                console.log("========== theScript1==========");
                console.log(data.theScript1);
                eval(data.theScript1);

                console.log("========== theScript2==========");
                console.log(data.theScript2);
                eval(data.theScript2);

                $('#spinner').fadeOut("slow");
            });

            request.fail(function (jqXHR, textStatus) {
                consoleAndToastr('There was an error processing the request.\n\n' + textStatus + ': ' + jqXHR.status + ' - ' + jqXHR.statusText + '.', null, 'error');
            });

        }
    </script>
}

