<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="${basedir}/log/nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--<variable name="myvar" value="myvalue"/>-->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <targets>

    <target name="filelog" type="File" fileName="${basedir}/log/EarTraining.log"
          layout="${date}|${uppercase:${level}}|${aspnet-request-ip}|${callsite:className=true:includeSourcePath=true:methodName=true}|${message}|${callsite:className=true:includeSourcePath=true:methodName=true}|${exception:format=tostring,StackTrace}"
            archiveAboveSize="5000000"
            maxArchiveFiles="10" />

    <target name="traceonlyfilelog" type="File" fileName="${basedir}/log/EarTraining.TraceOnly.log"
        layout="${message}"
        archiveAboveSize="5000000"
        maxArchiveFiles="10" />

    <target name="emaillog"
       type="Mail"
       smtpServer="sm10.internetmailserver.net"
       smtpPort="25"
       smtpUserName="hildnerorg0"
       smtpPassword=""
       subject="Ear Training Exception"
       from="donotreply@hildner.org"
       to="mike.hildner@gmail.com"
       layout="Date: ${date}${newline}User: ${aspnet-user-identity}${newline}IP: ${aspnet-request-ip}${newline}Level: ${uppercase:${level}}${newline}Message: ${message}${newline}Callsite: ${callsite:className=true:includeSourcePath=true:methodName=true}${newline}Exception: ${exception:format=tostring,StackTrace}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="filelog" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceonlyfilelog" />
    <!--<logger name="*" minlevel="Error" writeTo="emaillog" />-->
  </rules>
</nlog>
